[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyttsx3 = "*"
pypdf2 = "*"
gtts = "*"
urllib3 = "*"
google-speech = "*"

[requires]
python_version = "3.8"
